.categories
    a.category(href="/category/non-fiction")
        img.cat-icon(src="img/invention.svg")
        .cat-name Non-Fiction
    a.category(href="/category/fiction")
        img.cat-icon(src="img/brush-alt.svg")
        .cat-name Fiction
    a.category(href="/category/motivation")
        img.cat-icon(src="img/bolt.svg")
        .cat-name Motivation
    a.category(href="/category/novel")
        img.cat-icon(src="img/road.svg")
        .cat-name Novel
    a.category(href="/category/biography")
        img.cat-icon(src="img/user.svg")
        .cat-name Biography