mixin ownBookItem(book)
    .book-item
        img.book-cover(src=`${book.img}`)
        .book-quantity-wrapper(title="restock")
            .book-quantity= book.quantity
            img.icon.book-restock(src="/img/bolt.svg")
        .book-remove-btn(title="remove")
            div remove
            img.icon(src="/img/close.svg")
        
