include includes/head
body
    include includes/nav
    +nav(current,loggedIn)
    .cart
        h2.cart-header= `Cart ${!books.length?"is empty!":""}`
        .cart-items
            each book in books
                include includes/cartItem
                +cartItem(book)

        if(books.length)
            .cart-buy-zone
                .order-btn= `$${totalPrice} Checkout!`

    script(src="https://js.stripe.com/v3/")
    script(src="/js/cart.js")