include includes/head
body
    include includes/nav
    +nav(current)
    .form
        h1.form-header You are welcome to come in!
        .input-wrapper
            .input-group
                label.email-label Email
                input.form-email(type="email", name="email")
            .input-group
                label.email-label Password
                input.form-password(type="password", name="password")
            .form-btn(data-type="login") Let's Go
        .error-wrapper
        a.redirect-link(href="/signup") Signup!
        a.redirect-link(href="/forgot-password") Forgot your password?

    script(src="/js/auth.js")

        
