include includes/head
body
    include includes/nav
    +nav(loggedIn)
    h2.seller-books-header= `${name}'s shop`
    .books
        each book in books
            include includes/bookItem
            +book-item(book)
    include includes/pagination
    +pagination(parseInt(totalPages),parseInt(currentPage))