*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #ef4848;
	--white-color: #fff;
	--black: #484848;
}

html {
	font-size: 62%;
}

body {
	font-family: "poppins", sans-serif;
	font-weight: 400;
	color: var(--black-color);
	overflow-x: hidden;
}

/* nav bar */

nav {
	max-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1px solid var(--primary-color);
}

nav .logo {
	text-decoration: none;
	height: 3rem;
	display: flex;
	align-items: center;
}
nav .logo img {
	height: 100%;
}
nav .logo h3 {
	font-size: 2rem;
	margin-left: 0.5rem;
	color: var(--black);
}
nav .menu {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 30vw;
	list-style: none;
}

nav .menu .menu-item {
	text-decoration: none;
	font-size: 1.4rem;
	color: var(--black);
	transition: all 0.1s ease-out;
}
nav .menu .menu-item:hover {
	color: #ef4848;
}
nav .signature {
	font-family: "Sacramento";
	font-size: 2.5rem;
	margin-right: -15rem;
}

a[data-active="true"] {
	color: var(--primary-color) !important;
}

nav form {
	display: flex;
	align-items: center;
}
nav form input {
	border-radius: 1rem;
	border: 1px solid var(--black);
	outline: none;
	max-width: 15rem;
	color: var(--black);
	padding: 3px;
}
nav form button {
	background: url("/img/search.svg");
	width: 2rem;
	height: 2rem;
	border: none;
	outline: none;
	background-size: cover;
	background-position: center;
	margin-left: 1rem;
	cursor: pointer;
}

/* banner */
.banner {
	display: block;
	margin: 2rem auto;
}

.empty {
	font-size: 2rem;
	text-align: center;
	margin-top: 5rem;
}

/* shop */

section.shop {
	width: 80vw;
	height: auto;
	margin: 2rem auto;
	padding: 2rem;
}

.shop-header {
	display: flex;
	align-items: center;
	width: 80vw;
}
.shop-header img {
	width: 2rem;
}
.shop-header h3 {
	margin-left: 1rem;
	font-weight: 400;
	font-size: 1.8rem;
}
/* books */
.books {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.books .book-item {
	padding: 0.5rem;
	width: 15rem;
	font-size: 1.1rem;
	margin: 1rem 2rem 4rem 2rem;
	border-bottom: 2px solid transparent;
}

.books .book-item .book-cover {
	width: 100%;
	transition: all 0.2s ease-out;
}
.books .book-item:hover .book-cover {
	box-shadow: 0.8rem 0.8rem var(--primary-color);
}
.books .book-item:hover {
	border-bottom: 2px solid var(--primary-color);
}

.books .book-item a {
	color: var(--black);
	text-decoration: none;
	display: block;
}
.books .book-item .book-name {
	font-size: 1.5rem;
	text-align: center;
}
.books .book-item .book-price {
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
}
.cart-btn {
	padding: 0.3rem 1rem;
	width: 100%;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cart-btn img {
	width: 3rem;
	padding: 0.4rem;
	border: 1px solid var(--primary-color);
	transition: all 0.2s ease-out;
	cursor: pointer;
}
.cart-btn img:hover {
	padding: 0.6rem;
}
.quantity {
	text-align: center;
	background-color: rgba(256, 0, 0, 0.1);
	color: var(--primary-color);
}

/* category */
.categories {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
.categories .category {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--black);
	padding: 1.5rem;
	margin: 0 1.5rem;
	transition: all 0.2s ease-out;
}
.categories .category:hover,
.categories .active {
	box-shadow: 0.5rem 0.5rem var(--primary-color),
		-0.5rem -0.5rem var(--primary-color);
}

.categories .category .cat-icon {
	width: 2rem;
}
.categories .category .cat-name {
	font-size: 1.6rem;
	margin-left: 1rem;
}

/* /book */
.book {
	display: flex;
	max-width: 70%;
	margin: 4rem auto;
	background-color: rgb(248, 248, 248);
	padding: 4rem;
}

.book .big-img {
	width: 40%;
}

.book .about-book {
	margin-left: 10rem;
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.book .about-book .book-name {
	font-size: 3rem;
}
.book .about-book .book-summary-header {
	margin-top: 2rem;
	font-size: 1.4rem;
}
.book .about-book .book-summary {
	margin-left: 2rem;
}
.book .about-book .book-buy-zone {
	margin-top: auto;
	display: flex;
	align-items: center;
}
.book .about-book .book-seller {
	color: var(--black);
}
.book .about-book .book-price {
	font-weight: 700;
	margin: 1rem;
	display: flex;
	align-items: flex-end;
}
.book .about-book .book-price-number {
	font-size: 2rem;
}

.book .about-book .add-to-cart {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	font-size: 1.6rem;
	margin: 1rem;
	cursor: pointer;
	padding: 0.5rem;
	transition: all 0.1s ease-out;
}
.book .about-book .add-to-cart:hover {
	color: var(--white-color);
	background-color: var(--primary-color);
}
.book .about-book .extra {
	font-size: 1rem;
	margin-left: 1rem;
}

/* login */
.form {
	width: 60%;
	margin: 2rem auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--black);
}

.form .input-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50%;
	width: 100%;
	margin: 2rem 0;
}

.form .input-group {
	display: flex;
	flex-direction: column;
	width: 40%;
}
.form label {
	margin-bottom: 0.8rem;
	font-size: 1.5rem;
}
.form input {
	margin-bottom: 1.5rem;
	padding: 0.5rem 1rem;
	width: 100%;
	border: 1px solid var(--black);
}
.form .form-btn {
	font-size: 1.6rem;
	font-weight: 700;
	background-color: var(--primary-color);
	padding: 0.5rem 1rem;
	color: var(--white-color);
	border: 2px solid transparent;
	cursor: pointer;
}

.form .form-btn:hover {
	border: 2px solid var(--primary-color);
	background-color: var(--white-color);
	color: var(--black);
}
.form .form-btn.disabled {
	background-color: var(--black);
	color: var(--white-color);
	cursor: default;
	border: 2px solid transparent;
}

.redirect-link {
	text-decoration: none;
	color: var(--black);
}
.error-wrapper {
	text-align: center;
	margin-bottom: 2rem;
}

.error {
	color: var(--primary-color);
	font-size: 1.3rem;
	font-weight: 700;
}
a[href="/signup"],
a[href="/login"] {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

/* dashboard */

.sell-btn-wrapper {
	width: 100%;
	height: 10vh;
	margin-top: 3rem;
	padding: 0 3rem;
	display: flex;
	align-items: center;
}
.sell-btn-wrapper .sell-btn {
	position: relative;
	color: var(--black);
	text-decoration: none;
	padding: 0.5rem 3rem;
	font-size: 1.6rem;
	font-weight: 300;
	background-color: rgba(240, 240, 240, 0.7);
	cursor: pointer;
	transition: color 0.1s ease-out, background-color 0.1s ease-out;
}
.sell-btn-wrapper .sell-btn:hover {
	background-color: transparent;
	color: var(--white-color);
}

.sell-btn-wrapper .sell-btn::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10%;
	z-index: -1;
	background-color: var(--primary-color);
	transition: height 0.1s ease-out;
}
.sell-btn-wrapper .sell-btn:hover::before {
	height: 100%;
}

.dashboard .book-item .book-cover {
	margin-bottom: 1.5rem;
	width: 15rem;
}

.dashboard .book-quantity-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
	padding: 0.5rem;
	cursor: pointer;
}
.dashboard .book-remove-btn {
	text-align: center;
	font-size: 1.3rem;
	cursor: pointer;
	padding: 0.5rem;
}
.dashboard .book-remove-btn {
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
}
.dashboard .icon {
	width: 2rem;
	filter: contrast(0.8);
}
.dashboard .book-remove-btn:hover,
.dashboard .book-quantity-wrapper:hover {
	background-color: rgba(256, 0, 0, 0.1);
}
/* dashboard */
.sell-book-container {
	width: 70vw;
	background-color: rgba(240, 240, 240, 0.5);
	margin: 5rem auto;
	display: flex;
	min-height: 70vh;
	height: auto;
	padding: 2rem;
}

.sell-book-container input[type="file"] {
	position: absolute;
	top: 0;
	z-index: -1;
	opacity: 0;
}
.sell-book-container .img {
	position: relative;
	width: 25vw;
	height: 60vh;
	margin-right: 5rem;
}
.sell-book-container label {
	display: block;
	height: 100%;
	width: 100%;
	background: url("../img/Book-Cover.jpg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sell-book-container .about {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.sell-book-container .about textarea {
}

.sell-book-container .about > * {
	margin: 1rem;
	border: none;
	background-color: transparent;
	outline: none;
	padding: 0.5rem;
	width: 80%;
	color: var(--black);
}
.sell-book-container .about > *:hover {
	background-color: rgba(240, 240, 240, 1);
}

.sell-book-container .about > *:focus {
	background-color: rgba(240, 240, 240, 1);
}

.sell-book-container .about .btn {
	margin: auto;
	width: auto;
	padding: 0.5rem 2rem;
	cursor: pointer;
	background-color: var(--black);
	color: var(--white-color);
}

/* seller page */
.seller-books-header {
	text-align: center;
	font-size: 1.6rem;
	color: var(--black);
	margin: 2rem 0;
}

/* cart */

.cart {
	width: 80%;
	margin: auto;
}
.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1.5rem;
	margin: 1rem;
	transition: all 0.1s ease-out;
	background-color: rgba(240, 240, 240, 0.2);
}

.cart-header {
	margin-top: 2rem;
	font-size: 2.2rem;
	margin-left: 3rem;
	color: var(--black);
}

.cart-item:hover {
	background-color: rgba(240, 240, 240, 0.3);
}
.cart-item .cart-item-name {
	text-decoration: none;
	color: var(--black);
	font-size: 1.6rem;
}
.cart-item .cart-item-name:hover {
	text-decoration: underline;
}

.cart-item .cart-item-meta {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.cart-item-remove {
	padding: 0.5rem;
	font-size: 1.2rem;
	background-color: rgba(256, 0, 0, 0.15);
	cursor: pointer;
	color: var(--black);
}
.cart-item-remove:hover {
	color: var(--white-color);
	background-color: rgba(256, 0, 0, 0.4);
}

.cart-buy-zone {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	color: var(--black);
}

.order-btn {
	padding: 0.5rem 1rem;
	background-color: var(--black);
	color: var(--white-color);
	cursor: pointer;
}

/* pagination */

.pagination {
	margin: auto;
	text-align: center;
	margin-bottom: 5rem;
}

.pagination-btn {
	text-decoration: none;
	color: var(--primary-color);
	font-size: 1.35rem;
	border: 1px solid var(--primary-color);
	padding: 0.3rem 0.8rem;
	margin: 0 1rem;
}

.pagination-btn:hover,
.pagination .active {
	background-color: var(--primary-color);
	color: var(--white-color);
}
