*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #ef4848;
	--white-color: #fff;
	--black: #484848;
}

html {
	font-size: 62%;
}

body {
	font-family: "poppins", sans-serif;
	font-weight: 400;
	color: var(--black-color);
	overflow-x: hidden;
}

/* nav bar */

nav {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1px solid var(--primary-color);
}

nav .logo {
	text-decoration: none;
	height: 3rem;
	display: flex;
	align-items: center;
}
nav .logo img {
	height: 100%;
}
nav .logo h3 {
	font-size: 2rem;
	margin-left: 0.5rem;
	color: var(--black);
}
nav .menu {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 20vw;
	list-style: none;
}

nav .menu .menu-item {
	text-decoration: none;
	font-size: 1.4rem;
	color: var(--black);
	transition: all 0.1s ease-out;
}
nav .menu .menu-item:hover {
	color: #ef4848;
}
nav .signature {
	font-family: "Sacramento";
	font-size: 2.5rem;
	margin-right: -2rem;
}

/* banner */
.banner {
	display: block;
	margin: 2rem auto;
}

/* shop */

section.shop {
	width: 80vw;
	height: auto;
	margin: 2rem auto;
	padding: 2rem;
}

.shop-header {
	display: flex;
	align-items: center;
	width: 80vw;
}
.shop-header img {
	width: 2rem;
}
.shop-header h3 {
	margin-left: 1rem;
	font-weight: 400;
	font-size: 1.8rem;
}
/* books */
.books {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.books .book-item {
	padding: 0.5rem;
	width: 15rem;
	font-size: 1.1rem;
	margin: 1rem 2rem 4rem 2rem;
	border-bottom: 2px solid transparent;
}

.books .book-item .book-cover {
	width: 100%;
	transition: all 0.2s ease-out;
}
.books .book-item:hover .book-cover {
	box-shadow: 0.8rem 0.8rem var(--primary-color);
}
.books .book-item:hover {
	border-bottom: 2px solid var(--primary-color);
}

.books .book-item a {
	color: var(--black);
	text-decoration: none;
	display: block;
}
.books .book-item .book-name {
	font-size: 1.5rem;
	text-align: center;
}
.books .book-item .book-price {
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
}
.cart-btn {
	padding: 0.3rem 1rem;
	width: 100%;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cart-btn img {
	width: 3rem;
	padding: 0.4rem;
	border: 1px solid var(--primary-color);
	transition: all 0.2s ease-out;
	cursor: pointer;
}
.cart-btn img:hover {
	padding: 0.6rem;
}
.quantity {
	text-align: center;
	background-color: rgba(256, 0, 0, 0.1);
	color: var(--primary-color);
}

/* category */
.categories {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
.categories .category {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--black);
	padding: 3rem;
	transition: all 0.2s ease-out;
}
.categories .category:hover {
	box-shadow: 0.5rem 0.5rem var(--primary-color),
		-0.5rem -0.5rem var(--primary-color);
}

.categories .category .cat-icon {
	width: 2rem;
}
.categories .category .cat-name {
	font-size: 1.6rem;
	margin-left: 1rem;
}
